html, body {
    margin: 0;
    padding: 0;
    background: #fbeaeb;
}

div {
    text-align: center;
}

.flip-horizontal-bottom{
    animation:flip-horizontal-bottom .4s cubic-bezier(.455,.03,.515,.955) both
}

@keyframes flip-horizontal-bottom {
    0% {
        transform: rotateX(0);
    }
    100% {
        transform: rotateX(-180deg);
    }
}
